/* --------------------------------------------------body of app */
.App {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #282c34;
  color: white;
}
/* --------------------------------------------------header */
.App-header {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* --------------------------------------------------logo */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* --------------------------------------------------footer */
.App-footer {
  bottom: 0;
  padding: 2em;
}
.App-link {
  color: #61dafb;
}
